<div class="pt-2">
  To all our readers in South Africa, This is a short interruption to remind you that Wikipedia belongs to you! This
  Wednesday, we ask you to sustain Wikipedia's independence. Please don’t scroll away. We wouldn’t exist without the
  generosity of our readers. If you are an exceptional reader who has already donated, we sincerely thank you. A gift of
  just R 30 today would keep thriving for years. If Wikipedia has given you R 30 worth of knowledge, take a moment to
  donate. Show the world that access to free information matters to you. Thank you.
  How often would you like to donate?

  Just once
  Give monthly

  Select an amount (ZAR)
  The average donation in South Africa is R 55.

  R 30
  R 50
  R 100

  R 200
  R 300
  R 500

  R 1 000
  Other amount
  Other

  Please select a payment method
  Bank Transfer

  Problems donating? | Other ways to give | Frequently asked questions | We never sell your information. By submitting,
  you are agreeing to our donor privacy policy and to sharing your information with the Wikimedia Foundation and its
  service providers in the U.S. and elsewhere. If you make a recurring donation, you will be debited by the Wikimedia
  Foundation until you notify us to stop. We'll send you an email which will include a link to easy cancellation
  instructions.
  I already donated
  Jump to navigation
  Jump to search
  Welcome to Wikipedia,
  the free encyclopedia that anyone can edit.
  6,503,459 articles in English
  From today's featured article
  Edmund I

  Edmund I (920/921–946) was King of the English from 939 until his death. He was a son of King Edward the Elder and his
  third wife Eadgifu, and a grandson of Alfred the Great. Edmund's predecessor and half-brother Æthelstan had become the
  first king of all England when he conquered Viking-ruled York in 927, but on his death Anlaf Guthfrithson seized
  control
  of York and north-east Mercia. Edmund recovered control over all England in 944. He continued his brother's friendly
  relations with Continental rulers; some were married to his half-sisters. Key advisers include his mother and
  Ealdorman
  Æthelstan of East Anglia, known as the Half-King because he was so powerful. Edmund actively legislated. Three of his
  codes survive; they regulated feuds and emphasised the sanctity of the royal person. Edmund supported the religious
  English Benedictine Reform in its early stages. After a deranged thief killed him in a brawl he was succeeded by his
  younger brother Eadred (d. 955) and two sons in succession. (Full article...)
  Recently featured:

  Turtle Geology of the Lassen volcanic area Cirrus cloud

  Archive By email More featured articles

  Did you know ...
  Village East by Angelika
  Village East by Angelika

  ... that Village East by Angelika (pictured) is the only remaining Yiddish theater building in what was once the
  center
  of New York City's Yiddish Theatre District?
  ... that James Edward Smith won the mayoralty of Toronto by one vote?
  ... that 'Til Kingdom Come, a documentary film about evangelical Christian Zionism in the United States, was blocked
  from airing on PBS due to its editing of a speech by Donald Trump?
  ... that Nazi war criminal Kurt Weigelt could not be directly employed by Deutsche Bank after World War II, so he
  reestablished Lufthansa?
  ... that the Battle of San Buenaventura was described by the Los Angeles Times as a "quirky skirmish ... that emptied
  the mission of wine and left its adobe walls pockmarked by cannon fire"?
  ... that the poet Habibi was adopted by Aq Qoyunlu ruler Ya'qub Beg as a child after he was found shepherding?
  ... that after the 1918 season, some Major League Baseball owners wanted the National Baseball Commission to be
  replaced
  by former president William Howard Taft?
  ... that "it is almost impossible to find fault" with London's exclusive private dining club, Harry's Bar – until one
  receives the bill?

  Archive Start a new article Nominate an article


  In the news
  Kevin De Bruyne in 2018
  Kevin De Bruyne

  In association football, Manchester City win the English Premier League (Player of the Season Kevin De Bruyne
  pictured).
  The Australian Labor Party, led by Anthony Albanese, wins the most seats in the Australian federal election.
  Hassan Sheikh Mohamud is elected as President of Somalia.
  In the United States, ten people are killed in a mass shooting at a supermarket in Buffalo, New York.

  Ongoing:

  COVID-19 pandemic Russian invasion of Ukraine

  Recent deaths:

  Colin Cantwell Sam Smith Cathal Coughlan Ben Roy Mottelson Bob Neuwirth Aroha Reriti-Crofts

  Nominate an article

  On this day

  May 24: Aldersgate Day (Methodism)
  John Wesley
  John Wesley

  1567 – The mentally ill King Erik XIV of Sweden and his guards murdered five incarcerated nobles, including some
  members
  of the influential Sture family.
  1738 – At a Moravian meeting in Aldersgate, London, John Wesley (pictured) experienced a spiritual rebirth, leading
  him
  to launch the Methodist movement.
  1948 – Arab–Israeli War: After five days of fighting, Egyptian forces captured the Israeli community of Yad Mordechai
  after the defenders had abandoned it.
  1962 – Project Mercury: American astronaut Scott Carpenter orbited the Earth three times in the Aurora 7 space
  capsule.
  2006 – An Inconvenient Truth, a documentary film that has been credited for raising international public awareness of
  climate change and re-energizing the environmental movement, was released.

  Cathinka Buchwieser (b. 1789)Henry Sandham (b. 1842)Fanny Searls (d. 1939)

  More anniversaries:

  May 23 May 24 May 25

  Archive By email List of days of the year

  Today's featured picture
  Brigid Balfour

  Brigid Balfour (24 May 1914 – 1 March 1994) was a British scientist who studied cellular morphology and ultrastructure
  in relation to immune function. She advanced the study of dendritic cells, realising that they are derived from
  Langerhans cells and play an important role in initiating and promoting immune reactions.

  Photograph credit: National Institute for Medical Research; restored by Adam Cuerden
  Recently featured:

  Eastern spinebill Mars Lucy Arbell

  Archive More featured pictures

  Other areas of Wikipedia

  Community portal – The central hub for editors, with resources, links, tasks, and announcements.
  Village pump – Forum for discussions about Wikipedia itself, including policies and technical issues.
  Site news – Sources of news about Wikipedia and the broader Wikimedia movement.
  Teahouse – Ask basic questions about using or editing Wikipedia.
  Help desk – Ask questions about using or editing Wikipedia.
  Reference desk – Ask research questions about encyclopedic topics.
  Content portals – A unique way to navigate the encyclopedia.

  Wikipedia's sister projects

  Wikipedia is written by volunteer editors and hosted by the Wikimedia Foundation, a non-profit organization that also
  hosts a range of other volunteer projects:

  Commons logo
  Commons
  Free media repository
  MediaWiki logo
  MediaWiki
  Wiki software development
  Meta-Wiki logo
  Meta-Wiki
  Wikimedia project coordination
  Wikibooks logo
  Wikibooks
  Free textbooks and manuals
  Wikidata logo
  Wikidata
  Free knowledge base
  Wikinews logo
  Wikinews
  Free-content news
  Wikiquote logo
  Wikiquote
  Collection of quotations
  Wikisource logo
  Wikisource
  Free-content library
  Wikispecies logo
  Wikispecies
  Directory of species
  Wikiversity logo
  Wikiversity
  Free learning tools
  Wikivoyage logo
  Wikivoyage
  Free travel guide
  Wiktionary logo
  Wiktionary
  Dictionary and thesaurus

  Wikipedia languages

  This Wikipedia is written in English. Many other Wikipedias are available; some of the largest are listed below.

  1,000,000+ articles
  العربية Deutsch Español Français Italiano Nederlands 日本語 Polski Português Русский Svenska Українська Tiếng Việt 中文
  250,000+ articles
  Bahasa Indonesia Bahasa Melayu Bân-lâm-gú Български Català Čeština Dansk Esperanto Euskara فارسی‎ עברית 한국어 Magyar
  Norsk
  Bokmål Română Srpski Srpskohrvatski Suomi Türkçe
  50,000+ articles
  Asturianu বাংলা Bosanski Eesti Ελληνικά Simple English Galego Hrvatski Latviešu Lietuvių മലയാളം Македонски Norsk
  nynorsk
  Shqip Slovenčina Slovenščina ไทย

  Navigation menu

  Not logged in
  Talk
  Contributions
  Create account
  Log in

  Main Page
  Talk

  Read
  View source
  View history

  Search

  Main page
  Contents
  Current events
  Random article
  About Wikipedia
  Contact us
  Donate

  Contribute

  Help
  Learn to edit
  Community portal
  Recent changes
  Upload file

  Tools

  What links here
  Related changes
  Special pages
  Permanent link
  Page information
  Wikidata item

  Print/export

  Download as PDF
  Printable version

  In other projects

  Wikimedia Commons
  MediaWiki
  Meta-Wiki
  Multilingual Wikisource
  Wikispecies
  Wikibooks
  Wikidata
  Wikimania
  Wikinews
  Wikiquote
  Wikisource
  Wikiversity
  Wikivoyage
  Wiktionary

  Languages

  العربية
  বাংলা
  Български
  Bosanski
  Català
  Čeština
  Dansk
  Deutsch
  Eesti
  Ελληνικά
  Español
  Esperanto
  Euskara
  فارسی
  Français
  Galego
  한국어
  Hrvatski
  Bahasa Indonesia
  Italiano
  עברית
  ქართული
  Latviešu
  Lietuvių
  Magyar
  Македонски
  Bahasa Melayu
  Nederlands
  日本語
  Norsk bokmål
  Norsk nynorsk
  Polski
  Português
  Română
  Русский
  Simple English
  Slovenčina
  Slovenščina
  Српски / srpski
  Srpskohrvatski / српскохрватски
  Suomi
  Svenska
  ไทย
  Türkçe
  Українська
  Tiếng Việt
  中文

  Text is available under the Creative Commons Attribution-ShareAlike License 3.0; additional terms may apply. By using
  this site, you agree to the Terms of Use and Privacy Policy. Wikipedia® is a registered trademark of the Wikimedia
  Foundation, Inc., a non-profit organization.

  Privacy policy
  About Wikipedia
  Disclaimers
  Contact Wikipedia
  Mobile view
  Developers
  Statistics
  Cookie statement

  Wikimedia Foundation
  Powered by MediaWiki

</div>
